@import 'tailwindcss';




@theme{
    --color-primary-500: #2A2E33;
    --color-secondary-500:#4A919E;
    --color-primary-background:#F5F7F5;
    
    --color-body:#2A2E33;
    --color-primary-bg:#524E7A;
    --color-label:#6B7280;

    --text-primary:32px;
    --text-secondary:24px;
    --text-body:16px;
    --text-labels:14px;
    --lg-padding:12px;

    --animate-soothing: soothing 1s ease-in-out infinite alternate;
    @keyframes soothing {
        0%{
            transform: translateY(-10px)
        }
        100%{
            transform: translateY(10px)
        }
    }
}

@font-face {
    font-family: 'Lexands';
    src: url('./lexend-font.ttf') format('truetype');
}